<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hilmy.mangatusewu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashok"></activity>
        <activity android:name=".mgadang" />
        <activity android:name=".msalaso" />
        <activity android:name=".mkebaya" />
        <activity android:name=".mwawangko" />
        <activity android:name=".msunda" />
        <activity android:name=".mmadura" />
        <activity android:name=".mbaduy" />
        <activity android:name=".mjawa" />
        <activity android:name=".minai" />
        <activity android:name=".mtopeng" />
        <activity android:name=".mbarong" />
        <activity android:name=".mguel" />
        <activity android:name=".msaluang" />
        <activity android:name=".mgambus" />
        <activity android:name=".maramba" />
        <activity android:name=".mkolintang" />
        <activity android:name=".rumah" />
        <activity android:name=".suku" />
        <activity android:name=".tari" />
        <activity android:name=".Alat" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".KesempatanActivity" />
        <activity android:name=".DanaActivity" />
        <activity android:name=".WawasanActivity" />
        <activity android:name=".QuizActivity" />
    </application>

</manifest>